:root{
    --bg-pearl: #EFF2F3;
    --main: #AB965C;
    --text-turquoise-blue: #4BCFFD;
}
body{
    font-family: var(--cairo);
}
.header{
    position: relative;
    z-index: 0;
}
.header.sticky{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.hdrbtm-wrpr{
    column-gap: 70px;
}
.headrtop{
    background-color: #F5F2F2;
    padding: 18px;
}
.hdrsmlist{
    column-gap: 10px;
}
.hdrsmlist__link{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 0.9rem;
    position: relative;
    z-index: 0;
    color: var(--main);
}
.hdrsmlist__link:hover{
    background-color: transparent;
    color: var(--main);
}
.hdrsmlist__link:hover::after{
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
    background-color: var(--main);
}
.thmsett{
    column-gap: 10px;
}
.lang__box{
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #404040;
    font-size: 0.95rem;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}
.arabic{
    display: none;
}
.darklight__box{
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #404040;
    font-size: 0.95rem;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}
.lighton{
    display: none;
}
.dark .lightoff{
    display: none;
}
.dark .lighton{
    display: flex;
}

.headrtop-wrpr{
    column-gap: 95px;
    padding: 0 1rem;
}
.mobileNavbtn{
    display: none;
}
.header-bottom{
    padding: 25px 1rem;
}
.navlist {
    column-gap: 30px;
}
.navlist__link{
    font-size: 1rem;
    font-weight: bold;
    position: relative;
}
.navlist__link:hover, .navlist__link.active {
    color: var(--main);
}
.navlist__link.active::after, .navlist__link:hover::after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--main);
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}
.hdrbtmdrpbox {
    position: relative;
    z-index: 0;
}
.hdrbtm__btn {
    display: flex;
    align-items: center;
    padding: 15px 15px;
    color:#fff;
    background-color: var(--main) !important;
    column-gap: 14px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 40px;
    height: 50px;
}
.hdrbtm__btn i {
    font-size: 17px;
}
.hdrbtm__btn.show span {
    display: none;
}
.hdrbtm__btn.show {
    width: 50px;
    height: 50px;
    text-align: center;
    justify-content: center;
}
.hdrbtnform {
    width: 400px !important;
    inset: auto !important;
    transform: translate(0) !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    top: calc(100% + 35px) !important;
    padding: 30px 32px;
    border: none;
    text-align: initial;
    border-radius: 20px;
    border: 1px solid var(--border-color1);
    box-shadow: 0 3px 20px 0 rgba(0,0,0,0.05);

}
.hdrbtnform::before {
    content: "";
    width: 30px;
    height: 30px;
    background-color: #fff;
    position: absolute;
    top: -2px;
    border-radius: 4px;
    left: 50%;
    transform: rotate(45deg) translateX(-50%);
}
.inputF__holder {
    margin-bottom: 20px;
}
.hdrbtnform__hdng {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 25px;
}
.inputF {
    border-color: #f5f5f5;
    color: var(--input-granite);
    font-size: 0.8rem;
    font-weight: 500;
    padding: 14px 16px;
    border-radius: 10px;
}
.form-input-sm-name {
    position: absolute;
    font-size: 0.75rem;
    color: var(--text-turquoise-blue);
    background-color: #fff;
    top: -10px;
    right: 7px;
    padding: 0 10px;
    font-weight: 500;
    display: none;
}
.inputF__btn {
    background-color: var(--turquoise-blue) !important;
    color: var(--text-white);
    width: 100%;
    padding: 14px 20px;
    border-radius: 10px;
    font-size: 16px;
    display: flex;
    column-gap: 10px;
    font-weight: bold;
    height: 52px;
}
.inputF__btn .fa-spinner {
    display: none;
}
.inputF__btn:hover .fa-spinner {
    display: block;
}
.inputF__btn:hover .fa-check, .inputF__btn:hover span {
    display: none;
}
.logobox{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3rem;
    width: 330px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    z-index: 99;
}
/* mobile nave */
.mobileNav{
    position: fixed;
    top: 0;
    right: -100%;
    width: 400px;
    height: 100vh;
    background-color: #fff;
    display: none;
}
.mobileNavhdr{
    padding: 15px 15px;
    border-bottom: 1px solid #f5f5f5;
}
.mobileNav__logo{
    width: 180px;
    height: auto;
}
.nav-close{
    font-size: 25px;
    color: #404040;
}
@media(max-width:1599px){
    .logobox {
        left: 1rem;
        width: 280px;
    }
    .navlist__link {
        font-size: 0.9rem;
    }
    .hdrbtm-wrpr {
        column-gap: 40px;
    }
    .hdrbtm__btn {
        font-size: 13px;
    }
    .headrtop {
        padding: 14px 0;
    }
    .headrtop-wrpr {
        column-gap: 60px;
    }
    .hdrbtm__btn.show {
        width: 45px;
        height: 45px;
    }
}
@media(max-width:1399px){
    .navlist {
        column-gap: 23px;
    }
    .logobox {
        left: 1rem;
        width: 220px;
        top: 28%;
        padding: 14px;
    }
    .hdrbtm__btn {
        font-size: 12px;
        height: 45px;
    }
    .hdrbtm-wrpr {
        column-gap: 25px;
    }
}
@media(max-width:1023px){
    .mobileNavbtn{
        display: flex;
        font-size: 25px;
    }
    .navlist{
        display: none;
    }
    .hdrbtm-wrpr{
        justify-content: space-between;
    }
    .headrtop-wrpr{
        padding: 0;
    }
    .header-bottom {
        padding: 25px 0;
    }
    .hdrbtnform{
        left: 0% !important;
        transform: translateX(0%) !important;
        top: calc(100% + 20px) !important;
    }
    .hdrbtnform::before {
        display: none;
        left: 3%;
        transform: rotate(45deg) translateX(0%);
    }
    .headrtop-wrpr {
        column-gap: 30px;
    }
    .mobileNav{
        display: block;
        transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }
    .mobileNav.active{
        right: 0;
        box-shadow: 0 0 0 5000px rgba(0,0,0,0.4);
        transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
        z-index: 99;
    }
    .ltr .mobileNav{
        right: auto;
        left: -100%;
    }
    .ltr .mobileNav.active{
        right: auto;
        left: 0%;
    }
    .mobileNavlist{
        padding: 20px 15px;
        margin: 0 0 20px 0;
        border-bottom: 1px solid #f5f5f5;
    }
    .mobileNavlist__item{
        padding: 7px 0;
    }
    .mobileNavlist__link{
        font-size: 1.1rem;
        font-weight: 500;
    }
    .mblsmlist{
        padding: 15px 15px;
        column-gap: 10px;
    }
    .mblsmlist__link{
        width: 35px;
        height: 35px;
        background-color: var(--main);
        color: #fff;
    }
}
@media(max-width:767px){
    .headrtop {
        padding: 18px 0;
    }
    .hdrsmlist,
    .thmsett {
        column-gap: 5px;
    }
    .hdrsmlist__link,
    .darklight__box,
    .lang__box {
        width: 32px;
        height: 32px;
        line-height: 32px;
    }
    .lang__box,
    .darklight__box{
        font-size: 0.8rem;
    }
    .headrtop-wrpr {
        column-gap: 17px;
    }
    .logobox {
        left: 1rem;
        width: 150px;
        border-radius: 5px;
        top: 8px;
        padding: 10px;
        transform: translateY(0);
    }
    .header-bottom {
        padding: 15px 0;
    }
    .hdrbtnform {
        width: 320px !important;
        top: calc(100% + 15px) !important;
        padding: 20px 20px;
        border-radius:15px;
    }
    .hdrbtnform__hdng {
        font-size: 0.9rem;
    }
    .inputF {
        font-size: 0.8rem;
        padding: 12px 14px;
        border-radius: 7px;
    }
    .inputF__btn {
        padding: 14px 20px;
        border-radius: 7px;
        font-size: 14px;
        column-gap: 7px;
        height: 48px;
    }
}
@media(max-width:539px){
    .hdrsmlist{
        display: none;
    }
    .mobileNav{
        width: 280px;
    }
    .headrtop-wrpr {
        column-gap: 10px;
    }
    .mobileNavlist__link{
        font-size: 1rem;
    }
}
/* ltr */
.ltr .logobox{
    left: auto;
    right: 3rem;
}
@media(max-width: 1599px){
    .ltr .logobox{
        left: auto;
        right: 1rem;
    }
}
@media (max-width: 1023px){
    .ltr .hdrbtnform {
        left: auto !important;
        right: 0% !important;
        transform: translateX(0%) !important;
    }
}
/* drk */
.dark .headrtop{
    background-color: var(--dark-background-color1);
}
.dark .hdrbtnform,
.dark .logobox,
.dark .lang__box,
.dark .darklight__box,
.dark .header-bottom{
    background-color: var(--dark-background-color2);
    color: #fff;
}
.dark .inputF{
    background-color: var(--dark-background-color3);
    border-color: transparent;
    color: #fff;
}
.dark .mobileNavlist__link,
.dark .nav-close,
.dark .inputF::placeholder{
    color: #fff;
}
.dark .hdrbtm__btn{
    background-color: var(--dark-background-color1) !important;
}
.dark .mobileNav{
    background-color: var(--dark-background-color1) !important;
}
.dark .mobileNavlist,
.dark .mobileNavhdr{
    border-color: var(--dark-border-color2);
}
.dark .hdrsmlist__link{
    background-color: var(--dark-background-color2);
    color: #fff;
}
.dark .navlist__link{
    color: #fff;
}
.dark .navlist__link:hover,
.dark .navlist__link.active{
    color: var(--main);
}
.dark .hdrbtnform::before{
    background-color: var(--dark-background-color2);
}